@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

p{
    @apply font-mono text-md;
}

h1{
    @apply text-2xl sm:text-[2rem] font-bold;
    line-height: 1.6em !important;
}

h3{
    @apply uppercase pb-4 tracking-wide font-bold text-gray-300/90;
}

h4{
    @apply text-xl font-bold;
}

p{
    color: rgba(156, 163, 175, 0.9);
}

p>.highlight{
    @apply font-bold;
}

.disabled{
    color: rgba(156, 163, 175, 0.9);
}

.border-disabled{
    border-color: rgba(156, 163, 175, 0.2);
}

.highlight{
    @apply text-white;
}

.my-container{
    @apply max-w-[780px];
}