@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #121212;
  --foreground: #fff;
  --accent: #6eca7e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}
