@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  h1.h1 {
    @apply xl:text-8xl lg:text-7xl text-5xl font-semibold text-t-primary w-full;
  }

  h2.h2 {
    @apply text-4xl lg:text-6xl font-semibold text-t-primary;
  }

  h3.h3 {
    @apply text-t-primary font-semibold text-2xl;
  }
  h2.cstm-h2 {
    @apply lg:text-5xl text-4xl font-semibold;
  }

  h3.cstm-h3 {
    @apply font-semibold text-2xl lg:text-4xl;
  }

  .dark {
    --color-primary: #060606;
    --color-secondary: #4338ca;
    --color-tertiary: #101011;
    --color-fourth: #1a1a1a;
    --color-t-primary: white;
    --color-t-secondary: rgb(170, 170, 170);
  }

  .light {
    --color-primary: #161853;
    --color-secondary: #4f46e5;
    --color-tertiary: #14164a;
    --color-fourth: #272c6e;
    --color-t-primary: white;
    --color-t-secondary: #95a2b3;
  }

  body {
    @apply font-body bg-primary;
  }

  body,
  body * {
    transition: background;
    @apply ease-in-out duration-500;
  }
}

.cstm-container {
  @apply 2xl:w-2/3 md:w-4/5 w-full mx-auto;
}

.bg-blur {
  backdrop-filter: blur(2px);
}

.btn {
  @apply px-7 py-2.5 rounded-3xl font-medium text-sm;
}

.big-btn {
  @apply py-3 px-9 rounded-3xl font-medium md:text-lg;
}

.section {
  @apply py-28 md:py-32 px-6 md:px-0;
}

.big-section {
  @apply my-4 md:my-16;
}
