@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Rock+Salt&display=swap');

@tailwind utilities;
@tailwind base;
@tailwind components;

@layer utilities {
  @variants responsive {
    .w-60c {
      width: 60%;
    }
    .text-mid {
      font-size: 2.7rem;
    }
    .text-hero {
      font-size: 4rem;
    }
  }
}

body {
  @apply font-body;
  background-color: #060606;
  --color-secondary: #64ffda;
  --color-teriary: #101011;
  --color-fourth: #1a1a1a;
}

.text-opacity {
  color: #95a2b3;
}

.border-opacity {
  border-color: #101011;
}

.hr-opacity {
  color: #292830;
}

.cstm-container {
  @apply xl:w-60c md:w-4/5 w-full mx-auto;
}

.secondary {
  color: #64ffda;
}

.bg-secondary {
  background-color: #64ffda;
  @apply text-black;
}

.bg-primary {
  background-color: rgba(0, 0, 0, 0.7);
}

ul.cstm-ul li::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 1px;
  margin-right: 15px;
  background-color: #64ffda;
}

.text-description {
  font-size: 1.1em;
}

.bg-blur {
  backdrop-filter: blur(2px);
}

.seconde-title {
  @apply md:text-mid text-3xl sm:text-4xl;
}

.hero-title {
  @apply lg:text-hero md:text-5xl text-4xl font-bold md:max-w-5xl;
}

.btn {
  @apply px-5 py-1.5 rounded-3xl font-medium text-sm;
}

.big-btn {
  @apply py-2.5 px-9 rounded-3xl font-medium md:text-lg;
}

.section {
  @apply py-28 md:py-32 px-6;
}

.big-section {
  @apply my-4 md:my-16;
}

.experience-section {
  @apply px-0 !important;
}
